<div class="footer no-print" transition:animate="none">
 <!-- â¤ï¸â¤ï¸â¤ï¸â¤ï¸ðŸ’”ðŸ’”ðŸ–¤ðŸ–¤ðŸ—ðŸ—ðŸ—ðŸ—ðŸ—ðŸ— -->
</div>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    text-align: center;
    z-index: 100;
  }
</style>
