---
import Layout from "@/layouts/Layout.astro";
---

<!-- <Layout title="Tres"> -->
  <div class="container">
  <main>
    <div>Tres</div>
  </main></div>
<!-- </Layout> -->

<style>
  body {
    background: #7dc5f1;
  }
  .container {
    display: block;

  }
  main {
    background: #7dc5f1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main div {
    font-size: 100px;
    font-weight: bold;
  }
</style>
